#add-flashcard-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
}

#input-fields {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#input-fields input {
 
    height: 25px;
}

#add-button-container {
    align-self: flex-end;
}

#add-button {
    padding: 8px 16px;
    font-size: 14px;
}
#add-button:hover {
    background-color: #575757;
    color: #fff;
}

.flashcard-input-container h2 {
    margin-top: 10px; /* INCREASE SPACE ABOVE THE HEADING */
    margin-bottom: 0px; /* REDUCE SPACE BELOW THE HEADING */
}

.input-fields {
    padding: 20px;
}