nav {
    position: fixed; 
    top: 0; /* SETS NAV TO TOP OF PAGES*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323742; 
    border-radius: 50%;
    box-shadow: 25px 10px 20px 5px #232230d6;
    padding: 20px 0; /* CREATES BLACK LINES ABOVE AND BELOW THE NAVBAR*/
    z-index: 1000;
    margin-top: 25px; /*SPACE BETWEEN NAVBAR AND FLASHCARD*/
    margin-bottom: 25px; /*SPACE BETWEEN NAVBAR AND FLASHCARD*/
}

nav a {
    background-color: #323742;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #575757;
    color: #fff;
}
