.App {
    text-align: center;
}
  
.App-header {
    background-color: #323742;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(12px + 2vmin);
    color: white;
}

.flashcard-container { /*ADDED FOR SIDE-BY-SIDE LAYOUT */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem; /* SPACE BETWEEN COMPONENTS */
    width: 100%;
    max-width: 700px; /* LIMITS THE WIDTH */
    margin: 0 auto; /* CENTERS CONTAINER */
}